.curated-photos-item-container__modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-style: sans-serif;
  color: #7c7777;
}

.curated-photos-item-container__modal-close {
  padding: 2px 2px 2px 2px;

  width: 60px;
  height: 28px;

  margin-left: 10px;
  margin-right: 10px;

  font-size: 18px;
  color: #d86106;
  background-color: white;

  border: 2px solid #d86106;
  border-radius: 5px;
}

.curated-photos-item-container__modal-close:hover {
  cursor: pointer;
}

.curated-photos-item-container__modal-close:focus {
  outline: none;
}
