.pages-navigation__container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 50px;

  font-size: 24px;
  color: #d86106;
}

.pages-navigation__button {
  padding: 2px 2px 2px 2px;

  width: 28px;
  height: 28px;

  margin-left: 10px;
  margin-right: 10px;

  font-size: 18px;
  color: #d86106;
  background-color: #1d2e43;

  border: 2px solid #d86106;
  border-radius: 5px;
}

.pages-navigation__button:hover {
  cursor: pointer;
}

.pages-navigation__button:focus {
  outline: none;
}
