.author-details__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;

  margin-bottom: 30px;

  border: 2px solid #d86106;
  border-radius: 5px;

  text-align: center;
}

.author-details__photos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.author-details__link {
  text-decoration: none;
  color: #d86106;
}

.author-details__link:hover {
  cursor: pointer;
}

.author-details__profile-image {
  margin-top: 15px;

  border: 2px solid #d86106;
  border-radius: 5px;
}

.author-details__photo {
  width: 80%;

  margin-bottom: 10px;

  border: 2px solid #d86106;
  border-radius: 5px;
}

.author-details__photo:hover {
  cursor: pointer;
}
