.photo-details__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 15px;
  padding-bottom: 15px;

  margin-bottom: 30px;

  width: 100%;

  border: 2px solid #d86106;
  border-radius: 5px;
}

.photo-details__photo {
  width: 80%;

  border: 2px solid #d86106;
  border-radius: 5px;
}

.photo-details__statistic-data {
  width: 80%;
  
  margin-right: 20px;
}

.photo-details__author {
  text-align: center;
}

.photo-details__author:hover {
  cursor: pointer;
}
