.header__container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  
  width: 100vw;

  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #1d2e43;

  border-bottom: 2px solid #d86106;
}
