.curated-photos-item__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  margin-bottom: 20px;

  border: 2px solid #d86106;
  border-radius: 5px;

  font-style: sans-serif;
  color: #7c7777;
}

.curated-photos-item__container:hover {
  box-shadow: 0 0 5px 1px #d86106;
}

.curated-photos-item__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.curated-photos-item__image:hover {
  cursor: pointer;
}

.curated-photos-item__author-name:hover {
  cursor: pointer;
}
